<h3>Selector de colores: </h3>
<input type="text" [(ngModel)]="color_seleccionado">
<br>
<br>
<div [ngStyle]="{'background':color_seleccionado, 
                 'color': 'white',
                 'width':'200px',
                 'height':'200px',
                 'float':'right'
                }">

</div>
<div style="clear:both"></div>

<hr>

<strong> Empleado Estrella: </strong>
<ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li>{{empleado.contratado}}</li>
</ul>


<hr>

<strong>Empleados </strong>
<br>
<br>

<div *ngIf="trabajador_externo == true">
    <!-- Esto es una directiva, la cuál se encarga de brindar funcionalidad dentro de las etiquetas html -->
    <!-- Hay diferentes tipos de directivas -->

    <!-- (click) es una directiva de tipo evento   -->
    <button (click)="cambiarExterno(false)">Mostrar Angie</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <!-- *ngIf es una directiva de estructuras de control -->
        <li *ngIf="trabajadores[0].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">No está contratado</li>
    </ul>
</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar Dereck</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">No está contratado</li>
    </ul>
</div>

<hr>

<h3>Listado de empleado</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i+1}}:</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
            <li *ngIf="trabajadores[1].contratado == false">No está contratado</li>
        </ul>
        <br>
    </li>
</ul>

<hr>


<h3>colores switch</h3>
<!-- Tenemos las directivas de binding que son con corchete -->
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color Rojo</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color Verde</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color': 'white'}">Es de color Azul</li>
</ul>
